:root{
    --neutral0: hsl(0, 0%, 100%);
    --neutral300: hsl(252, 6%, 83%);
    --neutral500: hsl(245, 15%, 58%);
    --neutral700: hsl(245, 19%, 35%);
    --neutral900: hsl(248, 70%, 10%);
    --orange500: hsl(7, 88%, 67%);
    --orange700: hsl(7, 71%, 60%);
    --gradient: hsl(7, 86%, 67%) to hsl(0, 0%, 100%);
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Inconsolata", monospace;
}

body{
    background-image: url('./assets/images/pattern-lines.svg'), url('./assets/images/background-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle-top{
    position: absolute;
    top: -5%;
    left: -5%;
    width: 30%;
}

.squiggly-top{
    position: absolute;
    width: 30%;
    right: -1rem;
    top: 5%;
    background-repeat: no-repeat;
}

.circle-medium{
    position: absolute;
    width: 30%;
    z-index: -10;
    top: 50%;
    transform: translateY(50%);
    right: -15%;
}

.squiggly-bottom{
    position: absolute;
    transform: scale(1);
    transform: translateY(50%);
    bottom: 0;
    width: 100%;
    z-index: -1;
    left: 0;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
}

h1{
    color: var(--neutral0);
    width: 90%;
    text-align: center;
    font-size: 1.8rem;
}

p{
    color: var(--neutral300);
    width: 90%;
    font-size: 1.2rem;
    text-align: center;
    margin: 2rem;
}

h2{
    color: var(--neutral0);
    text-align: left;
}





footer{
    font-size: 1rem;
    text-align: center;
}

footer a{
    color: hsl(228, 45%, 44%);
}


